*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;;
}
 header{
    background-color: rgb(44,62,80);
    position: sticky;
    top: 0;
}
.container{
    width: 1140px;
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}
.navbar .logo{
    padding-left: 35px;
}
.navbar .logo a{
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    color: #fff;
}

.list-items{
    display: flex;
    list-style: none;
}

.list-items li{
    padding-left: 20px;
}

.list-items li a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    transition: 1s;
}

.list-items li:hover a{
color:#1abc9c;
}

#intro{
    background-color:#1abc9c;
    padding-bottom: 110px;
}
#intro .container{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
#intro .intro-wrapper{
    display: flex;
    justify-content: center;
}
#intro .intro-wrapper .intro-image img{
    width: 100%;
}

.intro-image{
    padding: 75px 0 30px;
}
 
 #intro .title{
     color: #fff;
     font-size: x-large;
     display: flex;
     justify-content: center;
 }

 #intro .icon{
     color: #fff;
     display: flex;
     justify-content: center;
     margin-top: 20px;
 }
 .intro-icon{
    position: relative;
}
.intro-icon .icon i{
    color: #fff;
    font-size: 25px;
}
 .intro-icon .icon::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    left: 70px;
    top: 10px;
}
.intro-icon .icon::after{
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #fff;
    border-radius: 3px;
    right: 70px;
    top: 10px;
}
#intro .description{
    margin-top: 15px;
    color: #fff;
    font-weight: 500;
}
#avarage .container{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 5%;
}
#avarage .title{
    color: rgb(44,62,80);
    font-size: x-large;
    display: flex;
    justify-content: center;
}
#avarage .icon{
    color: rgb(44,62,80);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.avarage-icon{
    position: relative;
}
.avarage-icon .icon i{
    color: rgb(44,62,80);
    font-size: 25px;
}
 .avarage-icon .icon::before{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(44,62,80);
    border-radius: 3px;
    left: 38%;
    top: 13px;
}
.avarage-icon .icon::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: rgb(44,62,80);
    border-radius: 3px;
    right: 38%;
    top: 13px;
}

#avarage .container .grid{
    display: grid;
    margin-top: 5%;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  
  
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  }

#avarage .avarage-wrapper .grid-item img{
    width: 100%;
}
.grid-item:hover img{
    color:#1abc9c;
    }
    
#ending .container{
     display: flex;
     justify-content: center;
     margin-left: 10%;
     margin-top: 5%;
     background-color: #1abc9c;
    }
#ending{
        background-color:#1abc9c;
        padding-bottom: 110px;
    }
#ending .title{
     color: rgb(255, 255, 255);
     font-size: x-large;
     display: flex;
     justify-content: center;
    }
#ending .icon{
        color: #fff;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
 .ending-icon{
        position: relative;
    }
    .ending-icon .icon i{
        color: #fff;
        font-size: 25px;
    }
     .ending-icon .icon::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        left: 53%;
        top: 13px;
    }
    .ending-icon .icon::after{
        content: "";
        position: absolute;
        width: 100px;
        height: 3px;
        background-color: #fff;
        border-radius: 3px;
        right: 53%;
        top:  13px;
    }
    #ending .grid-container {
        display: grid;
        grid-template-columns: 200px, 200px;
        grid-column-gap: 50px;
        grid-row-gap: 10px;
        
      }
    #ending .grid {
        padding: 10px;
        font-size: 15px;
        text-align: center;
      }
   #ending .text-down button {
       background-color: transparent;
       text-decoration: none;
     margin-left: 43%;
   }
   #ending .text-down a{
       text-decoration: none;
       color: #fff;
   }
   .text-down .icon{
       font-size: x-large;
   }
.col-1{
width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 24.66;
}
.col-4{
    width: 32.99%;
}
.col-5{
    width: 41.32%;
}
.col-6{
    width: 50% ;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66% ; 
}
.col-9{
     width:74.99% ;
}
.col-10{
     width:83.32% ;
}
.col-11{
     width:91.65% ;
}
.col-12{
     width: 100% ;
}
 footer .container{
    display: flex;
    justify-content: center;
    margin: 5%;
    background-color: #2c3e50;
    background-size: 100% ;
    padding-bottom: 110px;
    color: azure    ;  
   }
   footer .final{
       background-color: #1a252f;
       margin: 5%;
       margin-top: 5%;
       display: flex;
       justify-content: center;
       font-size: x-large;
       color: #fff;
       padding: 20px;
   }
   footer .final-wrapper .grid .grid-item p a{
       color: #1abc9c;
       text-decoration:none  ;
   }